:root {
    --game-bg: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    --canvas-bg: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--game-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#canvas {
    background-color: var(--canvas-bg);
}

#score, #life{
    position: absolute;
    height: 70px;
    width: 140px;
    background-color: white;
    top: 20px;
}

#score{
    left: 20px;
}

#life{
    right: 20px;
}

#score h3, #life h3{
    color: red;
    text-align: center;
    font-size: larger;
}

#score h2, #life h2{
    margin-top: 15px;
    color: red;
    text-align: center;
    font-size: larger;
}